/* Write your CSS here */
.match-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 320vh;
}
.mini-container {
  width: 90%;
}
.matchPic {
  width: 100%;
}
.matchHead {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 20px;
}
.matchOrder {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.RCB12 {
  background-image: linear-gradient(#a4261d, #475569);
  background-size: cover;
}
.KKR12 {
  background-image: linear-gradient(#5755a7, #475569);
  background-size: cover;
}
.KXP12 {
  background-image: linear-gradient(#d91c1f, #475569);
  background-size: cover;
}
.CSK12 {
  background-image: linear-gradient(#f7db00, #475569);
  background-size: cover;
}
.RR12 {
  background-image: linear-gradient(#da237b, #475569);
  background-size: cover;
}
.MI12 {
  background-image: linear-gradient(#13418b, #475569);
  background-size: cover;
}
.SRH12 {
  background-image: linear-gradient(#f26d22, #475569);
  background-size: cover;
}
.DC12 {
  background-image: linear-gradient(#4f5db0, #475569);
  background-size: cover;
}
